footer{
    padding: 52px 13px 13px;
    text-align: center;
    font-size: 13px;
}

.nav-link{
    display: inline-block;
    padding: 10px 12px;
    position: relative;
}

.nav-link:hover,
.nav-link:focus,
a:focus, a:hover{
    opacity: 1;
}

.nav-link, a{
    color: var(--text-color);
    opacity: 0.8;
}

.footer__nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer__nav .nav-link+.nav-link:before {
    content: "\00B7";
    position: absolute;
    left: -4px;
    top: -6px;
    pointer-events: none;
    font-size: 32px;
    opacity: 0.6;
}

@media (max-width: 960px){
    .nav-link{
        display: none;
    }
}