<footer>
  <p>Webmaster
    <a class="text-muted" href="https://goo.gl/Xfttqb" target="_black">Nauman Umer</a>.</p>
  <ul class="nav footer__nav">
    <a class="nav-link" routerLink="/">Home</a>
    <a class="nav-link" href="#">About</a>
    <a class="nav-link" href="#">Contribution</a>
    <a class="nav-link" target="_blank" href="https://bitbucket.org/unauman/class-resources/">Source Code</a>
    <a class="nav-link" href="#">More</a>
  </ul>
</footer>