header {
    background-color: var(--bg-dark);
    height: 58px;
    line-height: 58px;
    user-select: none;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    box-shadow: none;
    transition: box-shadow 0.25s;
}

header.scrolled{
    box-shadow: 0 0 6px rgba(0,0,0,.05), 0 3px 6px rgba(0,0,0,.1);
}

.search{
    max-width: 680px;
    margin: 0px auto;
}

.form {
    height: 36px;
    margin-bottom: 0px;
    margin-top: 12px;
}

.max-lg.d-flex>div{
    height: 58px;
}

input{
    height: 36px;
    margin: 0px;
    width: 100%;
    border: none;
    border-radius: 18px;
    outline: none;
    padding: 0px 44px 2px 50px;
    background-color: var(--base-t-high);
    color: var(--text-color);
    transition: background 0.25s ease;
    box-sizing: border-box;
    display: block;
}

input:hover{
    background-color: var(--base-t-low);
}

input:active,
input:focus{
    background-color: var(--base-color);
}

.logo {
    color: var(--text-color);
    display: inline-block;
    text-decoration: none;
    transition: opacity 0.25s ease;
    font-size: 16px;
    padding: 0px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logo:hover {
    color: var(--text-color);
    opacity: 0.8;
}

.logo::before {
    content: 'Class';
    position: relative;
}

.logo::after {
    content: ' Resources';
    position: relative;
}

.side-links>a{
    color: var(--text-color);
    text-decoration: none;
    padding: 0px 10px;
    opacity: 0.7;
    transition: opacity 0.25s ease;
    line-height: 58px;
    display: inline-block;
}

.side-links>a:hover{
    opacity: 1;
}

.search-icon{
    position: relative;
    float: left;
    top: -28px;
    left: 17px;
    font-size: 20px;
    color: var(--text-color);
    opacity: 0.7;
    cursor: pointer;
}

.icon-btn{
    color: var(--text-color);
    opacity: 0.7;
    cursor: pointer;
    font-size: 24px;
    transition: opacity 0.25s ease;
    position: relative;
    bottom: -5px;
    margin: 4px;
    padding: 8px;
}


.search-icon:hover,
.icon-btn:hover{
    opacity: 1;
}

.output{
    display: none;
    max-height: calc(100vh - 70px);
    overflow: auto;
    width: 100%;
    top: -25px;
    list-style: none;
}

.overlay{
    transition: 0.25s opacity ease-in-out;
}

.active.text .overlay{
    height: 100vh;
    width: 100%;
    left: 0px;
    opacity: 1;
}

.active.text input{
    z-index: 13;
    position: relative;
    background: var(--base-color);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.active.text .output{
    opacity: 1;
    position: relative;
    z-index: 13;
    background-color: var(--base-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
}

.output::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.output::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.26);
}

.output::-webkit-scrollbar-thumb:hover {
    background-color: #536dfe;
}

.output>li:first-child{
    background: var(--bg-dark);
    cursor: default;
    font-size: 80%;
}

.output>li{
    line-height: 40px;
    padding: 0px 40px;
    margin: 0px;
    cursor: pointer;
    font-size: 95%;
}

.output>li:hover:not(:first-child){
    background-color: var(--bg-color);
}

.active.text .search-icon{
    color: var(--text-color);
    z-index: 14;
}

.output>li>i{
    font-size: 117%;
    position: relative;
    left: -8px;
    bottom: -3px;
}

@media (max-width: 1220px){
    .header-search{
        position: absolute;
        left: 0;
        right: 0px;
        background: var(--bg-dark);
        padding: 0 15px;
        z-index: 11;
        height: 58px;
        transform: translateY(-58px);
        opacity: 0;
        transition: opacity .15s .15s, transform .15s cubic-bezier(.4,0,.2,1) .15s;
    }

    .header-search.active{
        transform: translateY(0px);
        opacity: 1;
    }

    .actions{
        display: none;
    }
}