<header>
  <div class="max-lg d-flex">
    <div class="show-md">
      <label class="icon-btn material-icons" for="drawer">menu</label>
    </div>
    <div>
      <a class="logo" routerLink="/"></a>
    </div>
    <div class="flex-grow search">
      <div [class]="'header-search '+(searchActive ?'active ':'')+(searchText? 'text': '')">
        <div class="form">
          <input placeholder="Search" (input)="keyDown($event.target.value)" [(ngModel)]="searchText">
          <label class="search-icon show-md material-icons" (click)="searchActive=!searchActive;">arrow_back</label>
          <label class="search-icon lg-only material-icons">search</label>
        </div>
        <ul class="output">
          <li>{{searchResults.length}} Results for "{{searchText}}"</li>
          <li *ngFor="let result of searchResults" (click)="navSearch(result)">
            <i class="material-icons">{{getIcon(result.type)}}</i>
            {{result.name}}
          </li>
        </ul>
        <div class="overlay" (click)="searchActive=!searchActive"></div>
      </div>
    </div>
    <div class="show-md">
      <label class="icon-btn material-icons" (click)="searchActive=true;">search</label>
    </div>
    <div class="actions">
      <label title="Toggle Dark Theme" class="icon-btn material-icons" (click)="toggleDark()">brightness_4</label>
    </div>
  </div>
</header>