nav {
    position: fixed;
    top: 0;
    left: -242px;
    height: 100%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: box-shadow 0.25s, -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s, -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;
    z-index: 15;
    width: 242px;
    overflow: hidden;
    user-select: none;
}

.drawer-title {
    background: var(--bg-dark);
    line-height: 48px;
    padding: 60px 16px 4px;
    height: 112px;
}

.drawer-title>i {
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 48px;
    height: 48px;
    margin: 4px;
    padding: 8px;
    font-size: 32px;
}

.source {
    display: block;
    padding: 0 4px;
    background: var(--bg-color);
}

.source>a {
    display: block;
    padding-right: 12px;
    font-size: 13px;
    transition: opacity 0.25s;
    white-space: nowrap;
    color: var(--text-color);
    height: 48px;
}

.source .icon {
    height: 48px;
    width: 48px;
    font-size: 24px;
    padding: 8px;
    line-height: 32px;
}

.source .repo {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    padding-left: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    margin-left: -44px;
    margin-top: -18px;
    transition: all 0.25s ease-in;
}

.source>a::after {
    display: inline-block;
    height: 48px;
    content: "";
    vertical-align: middle;
}

.source-facts {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 700;
    list-style-type: none;
    opacity: 0.75;
    overflow: hidden;
}

.source-fact {
    animation: source-facts-done 0.25s ease-in;
}

.source-fact {
    float: left;
}

.source-fact~.source-fact::before {
    margin: 0 0.2rem;
    content: "\B7";
}

@keyframes source-facts-done {
    0% {
        height: 0;
    }
    100% {
        height: 1.3rem;
    }
}

@keyframes source-fact-done {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
}

.nav-list{
    margin: 0px;
    width: 100%;
    height: calc(100vh - 112px);
    list-style: none;
    padding: 5px 10px;
    overflow-x: auto;
    background-color: var(--base-color);
}

.nav-list li>a,
.nav-list li>label{
    color: var(--text-color);
    padding: 10px 12px 10px 41px;
    font-size: 14px;
    display: block;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-list li>a>i,
.nav-list li>label>i{
    position: absolute;
    font-size: 20px;
    margin-right: 8px;
    opacity: 0.9;
    left: 8px;
    top: 12px;
}

.nav-list li>a:hover,
.nav-list li>label:hover{
    background: var(--bg-color);
}

.nav-list li.divider{
    background: var(--bg-dark);
    height: 1px;
    
}

.right-pd>a{
    padding-left: 12px!important;
    padding-right: 41px!important;
}