<nav class="drawer">
  <div class="drawer-title">
    <i class="material-icons">class</i>Class Resources</div>
  <ul class="nav-list">
    <!-- <li class="right-pd" routerLink="/">
      <a>Home</a>
    </li> -->
    <li class="right-pd" *ngFor="let ln of nav" [routerLink]="ln.id">
      <a>{{ln.name}}</a>
    </li>
    <li class="divider"></li>
    <li>
      <a (click)="toggleTheme()">
        <i class="material-icons">brightness_4</i>Toggle dark mode</a>
    </li>
    <li>
      <a (click)="toggleFooter()">
        <i class="material-icons">copyright</i>Toggle Copyrights
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a>
        <i class="material-icons">person</i>Student Console</a>
    </li>
    <li>
      <a>
        <i class="material-icons">code</i>Source Code</a>
    </li>
  </ul>
</nav>