/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 560px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 720px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 960px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1220px) {
    .container {
        max-width: 1140px;
    }
}

.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.lg-only, .md-only, .sm-only, .xs-only {
    display: none!important;
}

.show-md{
    display: block;
}

@media (min-width: 560px) {
    .xs-only {
        display: block!important;
    }
    .lg-only, .md-only, .sm-only {
        display: none!important;
    }
}

@media (min-width: 720px) {
    .sm-only {
        display: block!important;
    }
    .lg-only, .md-only, .xs-only {
        display: none!important;
    }
}

@media (min-width: 960px) {
    .md-only {
        display: block!important;
    }
    .lg-only, .sm-only, .xs-only {
        display: none!important;
    }
}

@media (min-width: 1220px) {
    .lg-only {
        display: block!important;
    }
    .md-only, .sm-only, .xs-only, .show-md {
        display: none!important;
    }
}

/* larger than mobile screen */

@media (min-width: 560px) {
    .column, .columns {
        margin-left: 4%;
    }
    .column:first-child, .columns:first-child {
        margin-left: 0;
    }
    .one.column, .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
    /* Offsets */
    .offset-by-one.column, .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }
    .offset-by-two.column, .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }
    .offset-by-three.column, .offset-by-three.columns {
        margin-left: 26%;
    }
    .offset-by-four.column, .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-five.column, .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }
    .offset-by-six.column, .offset-by-six.columns {
        margin-left: 52%;
    }
    .offset-by-seven.column, .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }
    .offset-by-eight.column, .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-nine.column, .offset-by-nine.columns {
        margin-left: 78.0%;
    }
    .offset-by-ten.column, .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }
    .offset-by-eleven.column, .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }
    .offset-by-one-third.column, .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-one-half.column, .offset-by-one-half.columns {
        margin-left: 52%;
    }
}

/* Base Styles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* NOTE
    html is set to 62.5% so that all the REM measurements throughout Skeleton
    are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    color: #222;
}

/* Typography
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 400;
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}

/* Larger than phablet */

@media (min-width: 550px) {
    h1 {
        font-size: 5.0rem;
    }
    h2 {
        font-size: 4.2rem;
    }
    h3 {
        font-size: 3.6rem;
    }
    h4 {
        font-size: 3.0rem;
    }
    h5 {
        font-size: 2.4rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}

p {
    margin-top: 0;
}

/* Links
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-dark);
    text-decoration: none;
}

/* Buttons
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    height: 30px;
    padding: 2px 15px;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid var(--entry-border);
    cursor: pointer;
    box-sizing: border-box;
    transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .btn:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
    color: var(--text-color);
    border-color: var(--entry-border);
    background-color: var(--base-color);
    outline: 0;
}

.btn:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
    color: var(--dark-text);
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    background-clip: border-box;
    transition-duration: 50ms;
}

.btn.btn-primary, button.btn-primary, input[type="submit"].btn-primary, input[type="reset"].btn-primary, input[type="button"].btn-primary {
    color: var(--dark-text);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.btn-primary:hover, button.btn-primary:hover, input[type="submit"].btn-primary:hover, input[type="reset"].btn-primary:hover, input[type="button"].btn-primary:hover, .btn.btn-primary:focus, button.btn-primary:focus, input[type="submit"].btn-primary:focus, input[type="reset"].btn-primary:focus, input[type="button"].btn-primary:focus {
    color: var(--dark-text);
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn.btn-lg {
    height: 40px;
}

/* Forms
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    /* The 6px vertically centers text on FF, ignored by Webkit */
    box-shadow: none;
    box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

label, legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 300;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"], input[type="radio"] {
    display: inline;
}

label>.label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}

/* Lists
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul, ul ol, ol ol, ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
}

li {
    margin-bottom: 4px;
}

/* Code
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

pre>code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

/* Spacing
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

button, .btn {
    margin-bottom: 1rem;
}

input, textarea, select, fieldset {
    margin-bottom: 1.5rem;
}

pre, blockquote, dl, figure, table, p, ul, ol, form {
    margin-bottom: 2.5rem;
}

/* Utilities
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

.full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.list-unstyled {
    list-style: none;
}

.d-flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

/* Misc
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

* {
    box-sizing: border-box;
}

/* Clearing
    –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */

.container:after, .row:after, .clear-fix {
    content: "";
    display: table;
    clear: both;
}

code, kbd, pre {
    font-family: "Ubuntu Mono","Courier New",Courier,monospace;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}