:root {
    --primary-color: #3E70AB;
    --primary-dark: hsl(213, 71%, 50%);
    --theme-dark: hsl(221, 15%, 18%);
    --theme-dark-sec: hsl(221, 15%, 22%);

    --dark-text: #fff;
    --desktop-screen: 1220px;
    --laptop-screen: 960px;
    --tablet-screen: 720px;
    --mobile-screen: 560px;
}

[theme='light']:root {
    --base-color: #fff;
    --base-t-high: rgba(255, 255, 255, 0.3);
    --base-t-low: rgba(255, 255, 255, 0.6);
    --text-color: #5c616c;
    --text-color-dark: #000;
    --text-mute: #ccc;
    --bg-color: #f1f2f4;
    --bg-dark: #E7E8EB;
    --border-color: #d5d5d5;
    --entry-border: #cfd6e6;
}

[theme='dark']:root {
    --base-color: #202124;
    --base-t-high: #313235;
    --base-t-low: #3B3B3E;
    --text-color: rgba(255, 255, 255, 0.8);
    --text-mute: rgba(255, 255, 255, 0.5);
    --bg-color: #3B3B3E;
    --bg-dark: #000;
    --border-color: #4a4c4f;
    --entry-border: hsl(222, 15%, 17%);
}

body {
    background-color: var(--base-color);
    color: var(--text-color);
}

.text-input{
    height: 34px;
    border-color: var(--border-color);
    padding: 6px 12px;
    width: 90px;
    color: var(--text-color);
    background-color: var(--base-color);
    transition: all 0.25s ease;
}

.text-input:focus{
    outline: none;
    color: #fff;
    background-color: var(--primary-dark);
    border-color: var(--primary-dark)!important;
}

.input-group-text{
    background: var(--bg-color);
    height: 34px;
    line-height: 11px;
    padding: 11px;
    display: inline-block;
}

.input-group{
    display: inline-flex!important;
}

.input-group>*{
    border-color: var(--border-color);
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin: 0px;
}

.input-group>*:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left-width: 1px;
    border-right-width: 1px;
}

.input-group>*:last-child{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left-width: 1px;
    border-right-width: 1px;
}

.mb-12{
    margin-bottom: 12px;
}

::placeholder{
    color: var(--text-color);
    opacity: 0.5;
}

:focus::placeholder {
    color: #fff;
    opacity: 0.5;
}