<div class="jumbo">
    <div class="conatiner text-center">
        <p style="font-size: 16px;">
            FA18-BCS-C Class Resources
        </p>
        <div class="ctas">
            <a class="btn btn-primary btn-lg full-width" target="_blank" href="https://cuonline.ciitlahore.edu.pk/StudentConsole/login.aspx">Student Console</a>
            <a class="btn btn-lg full-width" target="_blank" href="https://bitbucket.org/unauman/class-resources/">Source Code</a>
        </div>
    </div>
</div>