<app-header></app-header>

<input id="drawer" data-toggle="drawer" type="checkbox" autocomplete="off">
<label for="drawer" class="overlay"></label>
<main>
    <app-tabs></app-tabs>
    <app-drawer></app-drawer>
    <div class="max-md" *ngIf="updateAvailable">
        <div class="notif">
            <span>An update is available</span>
            <div>
                <button (click)="update()">Update</button>
            </div>
        </div>
    </div>
    <router-outlet class="main"></router-outlet>
</main>

<app-footer></app-footer>