.notif{
    margin-top: 0px;
    margin-bottom: 40px;
}

.notif>span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: calc(100% - 90px);
    white-space: nowrap;
}

.file-icon{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}