<div class="max-md">
    <h2 class="light-header" *ngIf="!isLoading && !error">{{subject.name}}</h2>
    <div *ngIf="isLoading && !error" class="loading">
        <app-loading-spinner></app-loading-spinner>
        <span>{{loadingText}}</span>
    </div>
    <div *ngIf="!isLoading && !error">
        <div class="max-md" *ngIf="subject['isHybrid']">
            <div class="notif">
                <span>Fetching Date: {{subject.lastUpdate}}</span>
                <div>
                    <button (click)="refetchAll()">Referesh</button>
                </div>
            </div>
        </div>
        <ul [class]="'list-unstyled compact-list list-border '+(subject['isHybrid']? 'list-detail' : '')">
            <li *ngFor="let file of subject.resources" [class]="file.isHeading?'no-border':''">
                <div *ngIf="file.isHeading;then heading else li">

                </div>
                <ng-template #heading>
                    <h3 class="light-header">{{file.name}}</h3>
                </ng-template>
                <ng-template #li>
                    <div class="flex-grow d-flex">
                        <img class="file-icon" [src]="getIcon(file.icon)">
                        <!-- <i class="material-icons">{{file.icon || "insert_drive_file" }}</i> -->
                        <span style="line-height: 30px;">{{file.name}}</span>
                    </div>
                    <div class="actions">
                        <a *ngIf="file.view" [href]="file.view" target="_blank">View</a>
                        <a *ngIf="file.slides" [href]="file.slides" target="_blank">Slides</a>
                        <a *ngIf="file.notes" [href]="file.notes" target="_blank">Notes</a>
                        <a *ngIf="file.download" [href]="file.download" [download]="file.download" target="_blank">Download</a>
                        <a *ngFor="let res of file.resources" [href]="res.url" target="_blank">{{res.title}}</a>
                    </div>
                </ng-template>
            </li>
        </ul>
    </div>
    <app-error *ngIf="!isLoading && error"></app-error>
</div>