<section class="detail">
  <div class="heading">
    <h1>Semester 1</h1>
    <p>From Sep 03, 2018 - Jan 25, 2018</p>
  </div>
  <div class="col1">
    <ul class="list-unstyled">
      <li>
        <a>Calculus</a>
      </li>
      <li>
        <a>Applied Physics</a>
      </li>
      <li>
        <a>Intro to ICT</a>
      </li>
      <li>
        <a>Islamic Studies</a>
      </li>
      <li>
        <a>English</a>
      </li>
    </ul>
  </div>
  <div class="col2">
    <ul class="list-unstyled">
      <li>
        <a>Schedule</a>
      </li>
      <li>
        <a>GPA Calculator</a>
      </li>
    </ul>
  </div>
</section>