.detail {
    padding: 28px 0px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    font-size: 14px;
}

.detail>.heading {
    margin-right: 25%;
}

.detail>.heading>h1 {
    font-size: 16px;
    margin-bottom: 9px;
    color: var(--primary-color);
}

.detail>.heading>p {
    font-size: 13px;
}

@media (max-width: 560px){
    .detail{
        display: block;
    }
}

@media (max-width: 720px){
    .detail{
        grid-template-columns: 1fr 1fr;
    }

    .detail>.heading{
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0px;
    }
}

