<div class="max-md">
    <h2 class="light-header" *ngIf="!isLoading && !error">{{semester.name}}</h2>
    <div *ngIf="isLoading && !error" class="loading">
        <app-loading-spinner></app-loading-spinner>
        <span>Loading...</span>
    </div>
    <ul class="list-unstyled compact-list list-hover" *ngIf="!isLoading && !error">
        <li class="no-hover">
            <h3 class="light-header">Subjects</h3>
        </li>
        <li *ngFor="let subject of semester.subjects" [routerLink]="subject.id">
            <div class="flex-grow d-flex">
                <i class="material-icons">class</i>
                <span>{{subject.name}}</span>
            </div>
        </li>
        <li class="no-hover">
            <h3 class="light-header">Others</h3>
        </li>
        <li *ngFor="let subject of semester.links">
            <a class="flex-grow d-flex d-block" [href]="subject.url" target="_blank">
                <i class="material-icons">link</i>
                <span>{{subject.name}}</span>
            </a>
        </li>
    </ul>
    <app-error *ngIf="!isLoading && error"></app-error>
</div>