.tabs {
    background-color: var(--bg-dark);
    user-select: none;
}

.hidden .tab-link {
    opacity: 0!important;
    transform: translateY(50%);
    transition: opacity .4s, transform .4s cubic-bezier(.1, .7, .1, 1);
}

.tabs-list>.tab:nth-child(1) .tab-link{
    transition-delay: 0s;
}
.tabs-list>.tab:nth-child(2) .tab-link{
    transition-delay: .02s
}
.tabs-list>.tab:nth-child(3) .tab-link{
    transition-delay: .04s
}
.tabs-list>.tab:nth-child(4) .tab-link{
    transition-delay: .06s
}
.tabs-list>.tab:nth-child(5) .tab-link{
    transition-delay: .08s
}
.tabs-list>.tab:nth-child(6) .tab-link{
    transition-delay: .10s
}
.tabs-list>.tab:nth-child(7) .tab-link{
    transition-delay: .12s
}
.tabs-list>.tab:nth-child(8) .tab-link{
    transition-delay: .14s
}
.tabs-list>.tab:nth-child(9) .tab-link{
    transition-delay: .16s
}
.tabs-list>.tab:nth-child(10) .tab-link{
    transition-delay: .18s
}
.tabs-list>.tab:nth-child(11) .tab-link{
    transition-delay: .20s
}
.tabs-list>.tab:nth-child(12) .tab-link{
    transition-delay: .22s
}

.tabs>div {
    position: relative;
    overflow: hidden;
}

.tabs-list {
    list-style: none;
    display: flex;
    margin-bottom: 0px;
    font-size: 90%;
    width: 100%;
    transition: transform .4s cubic-bezier(.1,.7,.1,1),opacity .25s;
    overflow-x: auto;
    overflow-y: hidden;
}

.tab {
    margin-bottom: 0px;
}

.tab-link {
    color: var(--text-color);
    padding: 0px 12px;
    opacity: 0.7;
    cursor: pointer;
    line-height: 48px;
    display: inline-block;
    transition: color .25s, transform 0s .4s, opacity .1s;
    white-space: nowrap;
}

.active>.tab-link {
    opacity: 1;
}

.tab-link:hover {
    color: var(--text-color);
    opacity: 0.95;
}

.level0>[data-level="1"] {
    position: absolute;
    transform: translateX(40px);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.level1>[data-level="1"] {
    position: absolute;
    transform: translateX(0px);
    opacity: 1;
}

.level1>[data-level="0"] {
    position: relative;
    transform: translateX(-40px);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.level0>[data-level="0"] {
    position: relative;
    transform: translateX(0px);
    opacity: 1;
}

.tab-link>.material-icons {
    position: relative;
    font-size: 16px;
    bottom: -3px;
}