<nav [class]="'tabs '+(scrolled?'hidden': '')">
  <div [class]="'max-lg d-flex level'+activeLevel">
    <ul class="tabs-list">
      <!-- <li class="tab active">
        <a class="tab-link" routerLink="/">Home</a>
      </li> -->
      <li class="tab" *ngFor="let sm of semesters">
        <a class="tab-link" [routerLink]="sm.id">{{sm.name}}</a>
      </li>
    </ul>
  </div>
</nav>