<div class="max-md">
    <h1>Comsats GPA Calculator</h1>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let sm of marks; first as fsm" [expanded]="fsm">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{sm.name}}
          </mat-panel-title>
          <mat-panel-description class="d-flex">
            <div style="flex-grow:1;">Percentage: {{sm.percent}}</div>
            <div style="flex-grow:1;">GPA: {{sm.GPA}}</div>
            <div style="flex-grow:1;">Grade: {{sm.grade}}</div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let sub of sm.subjects; first as fsub" [expanded]="fsub">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="subject-title" (click)="$event.stopPropagation()" (keydown)="($event.keyCode!=13)?$event.stopPropagation():null" contenteditable="true" >{{sub.name}}</div>
                </mat-panel-title>
                <mat-panel-description class="d-flex">
                  <div style="flex-grow:1;">Percentage: {{sub.percent}} %</div>
                  <div style="flex-grow:1;">GPA: {{sub.GPA}}</div>
                  <div style="flex-grow:1;">Grade: {{sub.grade}}</div>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div>
                <div class="mb-12">
                  <label>Credit Hours:</label>
                  <div class="input-group">
                    <input class="text-input" [(ngModel)]="sub.creditHours" type="number" placeholder="Credit Hours"
                      style="width: 216px;" name="ch" (input)="calc()">
                  </div>
                </div>
                <div class="mb-12">
                  <label>Quizes Marks:</label>
                  <div class="input-group">
                    <input class="text-input" type="number" placeholder="obtained" [(ngModel)]="sub.quiz[0]" name="sq"
                      (input)="calc()">
                    <div class="input-group-text">of</div>
                    <input class="text-input" type="number" placeholder="total" [(ngModel)]="sub.quiz[1]" name="sqt"
                      (input)="calc()">
                  </div>
                </div>
                <div class="mb-12">
                  <label>Assignments Marks:</label>
                  <div class="input-group">
                    <input class="text-input" type="number" placeholder="obtained" [(ngModel)]="sub.assign[0]" name="as"
                      (input)="calc()">
                    <div class="input-group-text">of</div>
                    <input class="text-input" type="number" placeholder="total" [(ngModel)]="sub.assign[1]" name="as1"
                      (input)="calc()">
                  </div>
                </div>
                <div class="mb-12">
                  <label>Sessional 1 Marks:</label>
                  <div class="input-group">
                    <input class="text-input" type="number" placeholder="obtained" [(ngModel)]="sub.s1[0]" name="s1"
                      (input)="calc()">
                    <div class="input-group-text">of</div>
                    <input class="text-input" type="number" placeholder="total" [(ngModel)]="sub.s1[1]" name="s1t"
                      (input)="calc()">
                  </div>
                </div>
                <div class="mb-12">
                  <label>Sessional 2 Marks:</label>
                  <div class="input-group">
                    <input class="text-input" type="number" placeholder="obtained" [(ngModel)]="sub.s2[0]" name="s2"
                      (input)="calc()">
                    <div class="input-group-text">of</div>
                    <input class="text-input" type="number" placeholder="total" [(ngModel)]="sub.s2[1]" name="s2t"
                      (input)="calc()">
                  </div>
                </div>
                <div class="mb-12">
                  <label>Terminal Marks:</label>
                  <div class="input-group">
                    <input class="text-input" type="number" placeholder="obtained" [(ngModel)]="sub.term[0]" name="term"
                      (input)="calc()">
                    <div class="input-group-text">of</div>
                    <input class="text-input" type="number" placeholder="total" [(ngModel)]="sub.term[1]" name="termt"
                      (input)="calc()">
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <a class="add" (click)="addSubject(sm)"><i class="material-icons">add</i>Add Subject</a>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
    <a class="add" (click)="addSmester()"><i class="material-icons">add</i>Add Semester</a>
</div>