.div-2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

h1{
    font-size: 24px;
    line-height: 1.3;
    color: var(--text-color);
    font-weight: 400;
}

.round-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.round-bottom{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

label{
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    min-width: 25%;
    opacity: 0.8;
}

label~*{
    display: inline-block;
}

.mat-expansion-panel{
    border: 1px solid var(--border-color);
}

.mat-expansion-panel:not(.mat-expanded)+.mat-expansion-panel:not(.mat-expanded){
    border-top: 0px;
}

.add{
    display: inline-block;
    padding: 10px 16px;
    margin-top: 8px;
    cursor: pointer;
}

.add>i{
    position: relative;
    left: -9px;
    bottom: -2px;
    font-size: 18px;
}

.subject-title{
    cursor: text!important;
    border-bottom: 1.5px dashed var(--border-color);
    padding: 2px 6px;
}

.subject-title:hover{
    border-bottom-style: solid;
}

.subject-title:focus{
    border-bottom-style: solid;
    outline: none;
}

.max-md{
    min-width: 640px;
}