:host {
    position: relative;
    display: block; 
    margin-bottom: 20px   
}

svg {
    animation: mat-progress-spinner-linear-rotate 2s linear infinite;
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
    transform-origin: center;
    overflow: visible;
}

circle {
    transition-property: stroke;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(.35, 0, .25, 1);
    animation-iteration-count: infinite;
    fill: transparent;
    transform-origin: center;
    transition: stroke-dashoffset 225ms linear;
    stroke: var(--text-color);
}

@keyframes mat-progress-spinner-stroke-rotate-100 {
    0% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(0)
    }
    12.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(0)
    }
    12.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(72.5deg)
    }
    25% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(72.5deg)
    }
    25.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(270deg)
    }
    37.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(270deg)
    }
    37.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(161.5deg)
    }
    50% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(161.5deg)
    }
    50.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(180deg)
    }
    62.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(180deg)
    }
    62.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(251.5deg)
    }
    75% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(251.5deg)
    }
    75.0001% {
        stroke-dashoffset: 268.60617px;
        transform: rotate(90deg)
    }
    87.5% {
        stroke-dashoffset: 56.54867px;
        transform: rotate(90deg)
    }
    87.5001% {
        stroke-dashoffset: 56.54867px;
        transform: rotateX(180deg) rotate(341.5deg)
    }
    100% {
        stroke-dashoffset: 268.60617px;
        transform: rotateX(180deg) rotate(341.5deg)
    }
}

@keyframes mat-progress-spinner-linear-rotate {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}