@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Ubuntu, sans-serif',
  // $headline: mat-typography-level(32px, 48px, 700),
  // $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);

// Create a config with the default typography levels.
// $config: mat-typography-config();

@include mat-core($custom-typography);
// @mixin candy-carousel-theme($theme) {
//   // Extract the palettes you need from the theme definition.
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);

//   // Define any styles affected by the theme.
//   .candy-carousel {
//     // Use mat-color to extract individual colors a palette.
//     background-color: mat-color($primary);
//     border-color: mat-color($accent, A400);
//   }
// }
// // Define your application's custom theme.
// $primary: mat-palette($mat-indigo);
// $accent:  mat-palette($mat-pink, A200, A100, A400);
// $theme: mat-light-theme($primary, $accent);

// // Include theme styles for Angular Material components.
// @include angular-material-theme($theme);

// // Include theme styles for your custom components.
// @include candy-carousel-theme($theme);

body {
  margin: 0px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.max-lg {
  max-width: var(--desktop-screen);
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.max-md {
  max-width: var(--laptop-screen);
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.md-icons-after::after,
.md-icons-before::before {
  font-family: "Material Icons";
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  speak: none;
  word-wrap: normal;
  direction: ltr;
}

h2.light-header {
  font-size: 18px;
  margin-bottom: 24px;
}

.main ~ * > .max-md,
.main ~ * > .max-lg {
  margin-top: 50px;
  margin-bottom: 50px;
}

.compact-list:not(.list-detail) > li {
  display: flex;
}

.compact-list > li {
  color: var(--text-color);
  padding: 0px 10px;
  transition: background 0.25s;
  margin: 0px;
}

.compact-list.list-hover > li:not(.no-hover) {
  cursor: pointer;
}

.compact-list.list-border > li:not(.no-border) {
  border-bottom: 1px solid var(--border-color);
}

.compact-list.list-hover > li:hover:not(.no-hover) {
  background-color: var(--bg-color);
}

.compact-list li > * {
  padding-top: 20px;
  padding-bottom: 20px;
}

.compact-list a:not(.d-block),
.compact-list .material-icons {
  padding: 0px 12px;
}

.compact-list a.d-block {
  color: var(--text-color);
}

h3.light-header {
  font-size: 16px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-detail .actions a {
  width: 174px;
  display: inline-block;
}

.list-detail .actions {
  padding-left: 36px;
}

@media (max-width: 560px) {
  .compact-list li {
    display: block !important;
  }
  .actions {
    padding-left: 36px;
  }
  ul .actions a {
    display: inline-block;
    width: 174px;
  }
}

[data-toggle="drawer"]:checked ~ main .drawer {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateX(24.2rem);
  transform: translateX(24.2rem);
}

[data-toggle="drawer"]:checked ~ .overlay {
  width: 100%;
  height: 100%;
  transition: width 0s, height 0s, opacity 0.25s;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  width: 0;
  height: 0;
  transition: width 1ms ease 0.26s, height 1ms ease 0.26s, opacity 0.25s ease 1ms;
  background-color: rgba(0, 0, 0, 0.54);
  opacity: 0;
  z-index: 12;
}

[footer="hide"] footer p {
  display: none!important;
}

.loading {
  text-align: center;
  margin: 120px 0px;
}

.notif {
  width: 100%;
  font-size: 90%;
  margin-top: 40px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  padding: 7px 30px 7px 30px;
}

.notif > div {
  display: inline-block;
  float: right;
}

.notif > span {
  display: inline-block;
  line-height: 30px;
}

app-expansion-panel~app-expansion-panel{
  border-top-color: transparent!important;
}

app-expansion-panel~app-expansion-panel .header{
  position: relative;
  top: -1px;
}